


# macOS
.DS_Store

# Python bytecode
__pycache__/
*.py[cod]

# Virtual envs & secrets
.venv/
.env

# Build / packaging
build/
dist/
*.egg-info/

# Tests / coverage
.pytest_cache/
.coverage*

# Notebooks
.ipynb_checkpoints/

# Logs
logs/
*.log

# Editor
.vscode/


test_particle.py
test_particle2.py
test3_my_file.py

test4.py


pictures/
